html{
    background-color: blueviolet;
}
head{
    padding: 0;
    margin: 0;
    border-top: 0;
}
h1{
    background-color: rgb(208, 255, 0);
    text-align: center;
    height: 50px;

}
p{
    background-color: burlywood;
    font-size: large;
}
h3{
    background-color: aqua;
    text-align: center;
    font-size: larger;
}
div{
    background-color: rgb(149, 226, 6);
}
h4{
    padding-left: 40%;
    padding-right: 60%;
}